<div {{ attributes }}>
    <div class="card">
        <div class="card-header">{{ issue.keyCode }}</div>
        <div class="card-body">
            <div class="card-title">
                {% if isEditingSummary %}
                    <div class="input-group">
                        <input arial-labe="Résumé" 
                            type="text" 
                            class="form-control" 
                            data-model="issue.summary"
                            value="{{ issue.summary }}" 
                            autofocus
                        >
                        <button class="btn btn-outline-primary"
                            data-action="live#action"
                            data-live-action-param="saveSummary"
                        >
                            Enregistrer
                        </button>
                    </div>
                {% else %}
                    <a class="h5 text-primary">{{ issue.summary }}</a>
                    <button class="btn btn-sm btn-outline-primary"
                        data-action="live#action"
                        data-live-action-param="activateEditingSummary"
                    >
                        Modifier
                    </button>
                {% endif %}
            </div>

            <p class="fw-bold card-text">Description</p>

            <hr>

            {% if isEditingDescription %}
                <textarea arial-label="Description" class="form-control mb-3" data-model="issue.description">
                    {{ issue.description }}
                </textarea>
                <button class="btn btn-sm btn-outline-primary"
                        data-action="live#action"
                        data-live-action-param="saveDescription"
                >
                    Enregistrer
                </button>
            {% else %}
                <p class="card-text">{{ issue.description }}</p>
                <button class="btn btn-sm btn-outline-primary"
                        data-action="live#action"
                        data-live-action-param="activateEditingDescription"
                >
                    Modifier la description
                </button>
            {% endif %}

            <p class="fw-bold card-text">Pièces jointes</p>

            <hr>

            <div class="input-group mb-3">
                <input class="form-control" name="attachment" type="file">
                <button class="btn btn-outline-primary" 
                    data-action="live#action" 
                    data-live-action-param="files(attachment)|addAttachment"
                >
                    Joindre
                </button>
            </div>
            <div class="overflow-x-auto container-fluid">
                <div class="flex-row flex-nowrap mb-3 row">
                    {% for attachment in attachments %}
                        <div class="col-sm-4 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <a href="{{ asset(attachment.path) }}" target="_blank" class="text-decoration-none">
                                        <small>{{ attachment.originalName }}</small>
                                    </a>
                                    <button 
                                        class="btn btn-sm btn-danger mt-2 w-100"
                                        data-action="live#action"
                                        data-live-action-param="deleteAttachment"
                                        data-live-attachment-id-param="{{ attachment.id }}"
                                    >
                                        Supprimer
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>
</div>